{% extends "base.html"  %}

{% block meta %}
<meta charset="utf-8">
<meta name="description" content="{{ page.m.description }}">
<meta name="keywords" content="{{ page.m.keywords }}">
<title>{{ page.m.title }}</title>
{% endblock %}

{% block scripts %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ gatrackingid}}', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

{% block content %}
  {{ page.html|safe }}
{% endblock content %}

{% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <div>
            <h3>OVERZICHT</h2>
            <p>- Gigstarter biedt een overzicht van het te boeken aanbod aan live muziek in Nederland. Talent en groeipotentie is wat onze muzikanten bindt. Wij willen de drempel voor het boeken van live muziek verlagen.</p>
          </div>
          <div>
            <h3>VINDEN</h2>
            <p>- Zoek Bands, Ensembles, DJ's of Solo-artiesten via de zoekbalk bovenin op de homepage. Je kunt kiezen uit genre's die reiken van Jazz, Funk of Klassiek tot House en Elektronische live muziek.</p>
          </div>
          <div>
            <h3>BOEKEN</h2>
            <p>- De prijs kwaliteit verhouding is bij ons leidend, zo is er voor ieder wat wils en kun je gemakkelijk, veilig en snel boeken wat jij zoekt.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <a href="/">
            <img class="img-resonsive" src="http://www.gigstarter.nl/footer_logo.jpg" alt="Gigstarter Logo">
          </a>
        </div>
    </div>      
  </footer>
{% endblock %}
